.section {
  padding: 80px 0;
  background: #eee;
  
  &--dark {
    $background-color-dark: #333; 
    background: $background-color-dark;
    
    .form-control {
      background-color: lighten($background-color-dark, 5%);
      border: none;
      box-shadow: inset 0 5px 10px -4px rgba(0,0,0,.5)
    }
    
    * {
      color: white;
    }
  }
  
  &--light {
    background: white;
  }
  
  &__header {
    text-align: center;
    border-bottom: 2px solid #bbb;
    display: block;
    margin: 0 auto 40px;
    width: 600px;
    max-width: 90%;
    text-transform: uppercase;
    padding-bottom: 10px;

    @media (min-width: 768px) {
        margin-bottom: 80px;
    }
  }
}